{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="display-4">Dashboard</h1>

<p class="lead">The number of guests on the slopes or in the lodge will be updated here as people check in and out</p>

<div class="card h-100 hvr-grow" style="width: 18rem;"> <!-- This is the correct card wrapper -->
    <img class="card-img-top" src="{{ url_for('static', filename= 'images/ski-city-images/ski-slope.jpg') }}">
    <div class="card-body">
        <h4 class="card-title">On the Slopes: {{0}}</h4>
    </div>
</div>
<div class="card h-100 hvr-grow" style="width: 18rem;"> <!-- This is the correct card wrapper -->
    <img class="card-img-top" src="{{ url_for('static', filename= 'images/ski-city-images/hot-chocolate.jpg') }}">
    <div class="card-body">
        <h4 class="card-title">In the lodge: {{0}}</h4>
    </div>
</div>

<hr>

{% endblock %}