{% extends "base.html" %}

{% block title %}People{% endblock %}

{% block content %}
<h2>People</h2>
<br>
<p><a href="{{ url_for('render_index') }}">Home</a> > People</p>
<hr>
<table class = "table table-striped">
    <thead>
        <tr>
            {% for column in people[1].keys() %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for person in people %}
        <tr>
            {% for column in person.keys() %}
                {% if column == "Name" %}  
                    <td>
                        <div class="card h-100 hvr-grow">
                        <a href="{{ url_for('render_id') }}" class="btn btn-light">{{ person[column] }}</a>
                        </div>
                    </td>
                {% else %}
                    <td>{{ person[column] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock%}