{% extends "base.html" %}

{% block title %}ID Page{% endblock %}

{% block content %}

<div class="container my-5"> <!-- Container with top and bottom margin -->
    <!-- Card for the person details -->
    <div class="card shadow-lg p-4 mb-4 rounded">
        <h1 class="display-4 mb-4 text-center">{{ people['name'] }}</h1>

        <p class="lead text-center mb-4">
            <a href="{{ url_for('render_index') }}" class="btn btn-link">Home</a> >
            <a href="{{ url_for('render_people') }}" class="btn btn-link">People</a> > {{ people['name'] }}
        </p>
        <hr class="my-4"> <!-- Horizontal rule with spacing -->

        <!-- Table inside a card for person details -->
        <div class="table-responsive">
            <table class="table">
                <tr><th>Name</th><td>{{ people['name'] }}</td></tr>
                <tr><th>Email</th><td>{{ people['email'] }}</td></tr>
                <tr><th>Height</th><td>{{ people['height'] }}</td></tr>
                <tr><th>Shoe Size</th><td>{{ people['shoe_size'] }}</td></tr>
            
                {% if people['status'] %}
                <tr><th>Status</th><td>{{ people['status'] }}</td></tr>
                {% endif %}
            
                {% if people['pass_type'] %}
                <tr><th>Pass Type</th><td>{{ people['pass_type'] }}</td></tr>
                {% endif %}
            
                {% if people['boot_size'] %}
                <tr><th>Boot Size</th><td>{{ people['boot_size'] }}</td></tr>
                {% endif %}
            
                {% if people['ski_length'] %}
                <tr><th>Ski Length</th><td>{{ people['ski_length'] }}</td></tr>
                {% endif %}
            
                {% if people['pole_height'] %}
                <tr><th>Pole Height</th><td>{{ people['pole_height'] }}</td></tr>
                {% endif %}
            </table>
            
        </div>

        <!-- Button to edit person -->
        <div class="text-center mt-4">
            <a href="{{ url_for('edit_person', person_id=people['id']) }}" class="btn btn-primary">Edit Person</a>
        </div>
    </div>
</div>

{% endblock %}
